/* Universal Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

/* Shared Styles */
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.flex{
    display: flex;
}

.grid{ display: grid;
}

.container{
    width: 100%;
    padding: 0px 200px;
}

.gradient-text{
    background: -webkit-linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn{
    height: 44px;
    align-items: center;
    gap: 4px;
    padding: 12px 22px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
    border: none;
    border-radius: 1000px;
    cursor: pointer;
}
.btn img {
    width: 18px;
}

.title {
    font-size: 48px;
    font-weight:700;
    color: #ffffff;
  
}

.description{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;

}

/* Nav-Bar Styles */

.nav-bar{
    height: 92px;
    justify-content: space-between;
    align-items: center;
    background-color: #1A0B2E;
    border-bottom: 1px solid #412567;
}

.nav-logo{
    font-size: 32px;
    color: #ffffff;
}
.nav-menu {
    gap: 40px;
}

.nav-menu a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    position: relative;
}


.subscribe-btn {
    width: 135px;
}





/* Hero-Banner Styles */

.hero {
    height: 760px;
    background-image: url(./assets/hero-bg.png);
    background-color: #1A0B2E;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.hero-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mic {
    width: 410px;
    height: 410px;
    border-radius: 50%;
    position: relative;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
    border: 8px solid #2A186C;
    box-shadow: 0 3px 27px #533C72;
}

.mic-image {
    width: auto;
    height: 200px;
    align-items: center;
    justify-content: center;
}

.mic-image img {
    width: auto;
    height: 175px;
}
.hero-badge{
    height: 38px;
    width: 75px;
    position: absolute;
    top: 20px; 
    right: 15px; 
    padding: 10px 10px;
    border-radius: 1000px;
    background: #00FF88;
    color: #1A0B2E;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0 3px 27px #00FF88;
    justify-content: center;
}

.hero-title{
    padding-top: 40px;
    color: #ffffff;
    font-size: 60px;
    font-weight: bolder;
}
.hero-description{
    padding-top: 8px;
}

.cta-button-container{
    gap: 20px;
    padding-top: 32px;
    justify-content: center;
}

.cta-btn2 {
    color: #00FF88;
    background: none;
    border: .5px solid #00FF88;
}
/* About Section Styles */

.about {
    background-color: #1A0B2E;
    padding: 100px 0;
    color: #ffffff;
}

.about-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 28px;
}

.about-title {
    font-size: 48px;
    font-weight:700;
  
}

.about-description {
    line-height: 1.9;
}

.about-content hr {
    width: 100%;
    max-width: 1200px;
    border: none;
    height: 1px;
    background-color: #ffffff;
    margin: 40px 0;
}

.about-stats-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    width: 100%;
    max-width: 1000px;
    text-align: center;
}


.stats-card-title {
    font-size: 32px;
    font-weight: 700;
    color: #00FF88;
}

.stats-card-description {
    font-size: 16px;
    font-weight: 400;
    margin-top: 6px;
}

/* Features Section Styles */

.features-container {
    background-color: #230E3D; 
    color: #ffffff;
    display: flex;
    align-items: center;
    height: 1121px;
}

.features-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.features-title {
    text-align: center;
}

.features-cards-container {
    width: 100%;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "audio-quality mobile-friendly mobile-friendly"
        "audio-quality global-community global-community"
        "interviews interviews resources";
}

.audio-quality {
    grid-area: audio-quality;
}

.mobile-friendly {
    grid-area: mobile-friendly;
}

.global-community {
    grid-area: global-community;
}

.interviews {
    grid-area: interviews;
}

.resources {
    grid-area: resources;
}

.features-card {
    background-color: #1A0B2E;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: left;
    justify-content: center;
}

.features-card img {
    width: 60px;
}

.features-card-title {
    font-size: 24px;
    font-weight: 700;
}

.features-card-description {
    line-height: 1.9;
}

/* Episodes Styles */

.episodes-container {
    background-color: #1A0B2E;
    padding: 60px 0;
}

.episodes-content {
    width: 100%;     
}

.episodes-container-title {
    text-align: center;
    margin-bottom: 40px;       
}

.episodes-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);   
    gap: 30px;                              
    width: 100%;
}

.episodes-card {
    height: 450px;
    background-color: #2E1A47;
    border-radius: 24px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.episodes-card iframe {
    width: 100%;
    height: 214px;
    border: none;
}
.episodes-card-content{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0 0 0 ;
  
}
.episodes-title {
    font-size: 24px;
    font-weight:700;
    color: #ffffff;
    padding: 20px 20px 10px;
    margin: 0;
    text-align: left;
}

.episodes-description {
    padding: 0 20px;
    line-height: 1.5;
    margin-bottom: 12px;
    flex-grow: 1;
}

.timestamp {
    display: flex;
    align-items: center;
    padding: 10px 20px 20px;
    font-size: 14px;
    color: #00FF9F;
    margin-top: auto;
}

.timestamp img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
/* Hosts Section Styles */

.host-container {
    background: #1A0B2E;
    padding: 120px 0;
}

.host-container .container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.host-title {
    text-align: center;
}

.host-content {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto auto auto;
    column-gap: 24px;
    row-gap: 16px;   
    align-items: start;
    background-color: #2E1A47;
    border-radius: 40px;
    padding: 48px 56px;
}

.host-content img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    grid-column: 1;
    grid-row: 1 / span 3;
}

.host-name {
    grid-column: 2;
    grid-row: 1;
    font-size: 32px;
    font-weight: 700;
    color: #ffffff;
}

.host-description {
    line-height: 24px;
    grid-column: 2;
    grid-row: 2;
}

.host-social-links {
    grid-column: 2;
    grid-row: 3;
    display: flex;
    gap: 20px;
}

.host-social-links a {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.35);
}

.host-social-links img {
    width: 20px;
    height: auto;
    max-height: 20px;
    object-fit: contain;
}


/* Footer Styles */

footer {
    background-image: url('./assets/footer-bg.png');
    background-size: cover;
    background-position: center;
    padding: 80px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.footer-content.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 32px; 
}

.footer-social-links {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-bottom: 32px;
}

.footer-social-links a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
}

.footer-social-links img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

footer p {
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
    margin: 0;
}

/* Animation */

.mic:hover {
    background: linear-gradient(270deg, #F7E93F, #FB09B4, #9100F8);
    cursor: pointer;
}

.mic{
    transition: background 3s ease-in-out;
}

@keyframes jump {
    0% { transform: translateY(0); }       
    50% { transform: translateY(-15px); } 
    100% { transform: translateY(0); }     
}

.hero-badge {
    animation: jump 1s ease-in-out infinite;
}


.btn, .features-card, .episodes-card, .nav-menu a {
    transition: 0.3s;
}


.btn:hover {
    transform: scale(1.05);
}


.nav-menu a:hover {
    color: #00FF88;
}


.features-card:hover, .episodes-card:hover {
    transform: translateY(-10px);
}


.host-social-links a:hover {
    transform: translateY(-5px);
    border-color: #ffffff;
}